<launch>
	<node pkg="agv" type="motordrvierWithNofeedback.py" name="motordrvierWithNofeedback" output="screen">
 	</node>
	<node pkg="agv" type="motorEncoderDriver.py" name="motorEncoderDriver" output="screen">
 	</node>
	<node pkg="agv" type="rawimu5220_publisher.py" name="rawimu5220_publisher" output="screen">
 	</node>
 	<node pkg="agv" type="odo_publiser_withEncoder_5.py" name="odo_publiser_withEncoder" output="screen"/>
 	
 	<arg name="drive_speed" default="0.9" />
	<arg name="turn_speed" default="2.4" />
	<arg name="joy_dev" default="/dev/input/js0" />
	<arg name="cmd_topic" default="cmd_vel" />

	<node pkg="joy" type="joy_node" name="joy_node">
		<param name="dev" value="$(arg joy_dev)" />
		<param name="deadzone" value="0.3" />
	</node>

	<param name="/use_sim_time" value="false"/>
	
	<!--Load the URDF/Xacro model of our robot -->
	<arg name="urdf_file" default="$(find xacro)/xacro.py $(find antbot_description)/urdf/antbot.urdf.xacro"/>
	<param name="robot_description" command="$(arg urdf_file)" />
	
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find antbot_description)/launch/antbot_demo.rviz" required="true" />
	
	<arg name="source_list" default="[wheel_joint_states]"/>
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
		<rosparam param="source_list" subst_value="True">$(arg source_list)</rosparam>
		<param name="use_gui" type="Boolean" value="False"/>
	</node>
	
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
		<param name="publish_frequency" type="double" value="20.0" />
	</node>

</launch>










