<launch>

<!--amcl -->	
  <arg name="use_map_topic"   default="true"/>
  <arg name="scan_topic"      default="/robot_0/base_scan"/> 
  
  <arg name="odom_frame_id"   default="/robot_0/odom"/>
  <arg name="base_frame_id"   default="robot_0/base_link"/>
  <arg name="global_frame_id" default="/map"/>

  <node pkg="amcl" type="amcl" name="amcl">
    <param name="use_map_topic"             value="$(arg use_map_topic)"/>
    <!-- Publish scans from best pose at a max of 10 Hz -->
    <param name="odom_model_type"           value="omni"/>
    <param name="odom_frame_id"             value="$(arg odom_frame_id)"/> 
    <param name="base_frame_id"             value="$(arg base_frame_id)"/> 
    <param name="global_frame_id"           value="$(arg global_frame_id)"/>
    <param name="initial_pose_x" value="0.0"/>
    <param name="initial_pose_y" value="0.0"/>
    <param name="initial_pose_a" value="0.0"/>
    <remap from="scan"                      to="$(arg scan_topic)"/>
  </node>
</launch>
